.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.pointer {
  cursor: pointer;
}

.bg {
  background-image: url('../../../../assets/workplace.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
