<div class="inner-content">

<div class="bg">
<nz-page-header class="site-page-header" [style]="{padding: 0}">

  <!--avatar-->
  <nz-avatar style="margin: 0; padding-left: 4px;" [routerLink]="['/companies', company?.id!]" class="pointer" [nzSize]="200" nzShape="square" nz-page-header-avatar [nzSrc]="company?.imageUrl! "></nz-avatar>

  <!--title-->
  <nz-page-header-title style="align-self: flex-end;margin-left: 0px; background: white; padding: 1.5rem;" >
    <h1 style="margin-bottom: .25rem;">{{company?.name!}}</h1>
    <span><i style="color: #FFD700;" nz-icon nzType="star" nzTheme="fill"></i> {{company?.rating!}}</span>
  </nz-page-header-title>

  <!--content-->
  <nz-page-header-content style="background: white">
    <div nz-row>
      <div class="content">
        <p>{{company?.description!}}</p>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
</div>
  <nz-tabset nzSize="large">

    <nz-tab nzTitle="Overview">

      <nz-row [nzGutter]="[16, 16]" style="padding: 2rem;" >
        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="'+1128'" [nzTitle]="'Employees'" [nzPrefix]="emp"></nz-statistic>
          <ng-template #emp><i nz-icon nzType="team"></i></ng-template>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="'U$D 80,000'" [nzTitle]="'Average salary'" [nzPrefix]="salary"></nz-statistic>
          <ng-template #salary><i nz-icon nzType="dollar"></i></ng-template>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="'New York, NY'" [nzTitle]="'Headquarters'" [nzPrefix]="head"></nz-statistic>
          <ng-template #head><i nz-icon nzType="build"></i></ng-template>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-statistic [nzValue]="'$1B to $5B (U$D)'" [nzTitle]="'Revenue'" [nzPrefix]="revenue"></nz-statistic>
          <ng-template #revenue><i nz-icon nzType="rise"></i></ng-template>
        </nz-col>

      </nz-row>

    </nz-tab>

    <nz-tab nzTitle="Salaries">
      <div style="padding: 2rem;">Content of Tab Pane 2</div>
    </nz-tab>
    <nz-tab nzTitle="Reviews">
      <div style="padding: 2rem;">Content of Tab Pane 2</div>
    </nz-tab>
    <nz-tab nzTitle="Jobs">
      <div style="padding: 2rem;">Content of Tab Pane 2</div>
    </nz-tab>
  </nz-tabset>

</div>
