<nz-row [nzGutter]="[40, 40]" nzJustify="space-between" *ngIf="active">
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>

  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </nz-col>
</nz-row>
